* {
    padding: 0px;
    margin: 0px;
}

/* First Container */
.container {
    background-image: url("/images/goldbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 125vh;
    display: flex;
    flex-direction: column;
}

/* Content Header */
.content-header {
    margin-top: 10vh;
    text-align: center;
}

.content-header h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    word-spacing: 0.5rem;
    line-height: 1.4em;
    text-shadow: 4px 4px black;
}

.gold {
    color: rgb(236, 180, 38);
}

.golded {
    color: rgb(236, 180, 38);
    text-shadow: 8px 8px black;
}

/* Content Main */
.content-main {
    background-color: white;
    height: 70vh;
    width: 50vh;
    border-radius: 70px;
    margin: 14vh 10vh 0vh auto;
}

.content-main .form-header {
    background-color: goldenrod;
    height: 10vh;
    display: flex;
    flex-direction: row;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    text-shadow: 3px 3px black;
}

.content-main .form-header h2 {
    text-align: center;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;

}

.form-content {
    display: flex;
    flex-direction: column;
    height: 60vh;
}


.content-main form .inputclass {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5% auto 0px auto;
    padding: 20px;
    border-radius: 20px;
    border-color: rgb(177, 175, 175);
    border: 1px solid;

    outline: none;
}

.content-main form .inputclass:active {
    border-radius: 20px;
}

#whatstopsyou {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.content-main form .form-half {
    display: flex;
    margin-left: 22%;
    margin-top: 5%;
}

.content-main form .form-half label {
    color: gray;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content-main form .form-half label a {
    color: rgb(72, 145, 212);
    text-decoration: none;
}


.form-content .form-bottom {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.form-content .form-bottom button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin: auto;
    margin-top: 5%;
    border-radius: 10px;
    border-color: transparent;
    width: 70%;
    box-shadow: 3px 2px 3px 3px rgb(153, 153, 153);
    text-shadow: 3px 3px black;
}

.form-content .form-bottom button span {
    font-size: 1.7rem;
    line-height: 2.2em;
    border-radius: .3rem;
}

/* Content Footer */
.content-footer {
    background-color: rgb(22, 22, 22);
    opacity: 0.9;
    height: 15vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
}

.content-footer span {
    color: white;
    opacity: 1 !important;
    margin: auto;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#contactinfo {
    color: black;
}

/* End of the First Container */

/* Start of the Second Container */
.secondcontainer {
    height: 180vh;
}

.secondcontainer .payments {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: auto;
}

.secondcontainer .payments img {
    height: 250;
    width: 150px;
    margin: auto;
}

.investingold {
    display: flex;
    flex-direction: row;
    height: 50%;
    margin-top: 5vh;
}

.leftdiv {
    height: 75%;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
}

.leftdiv h2 {
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.leftdiv p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5%;
    font-size: 1.5em;
    color: black;
}

.leftdiv h5 {
    font-size: 1.7em;
    margin-top: 7%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.leftdiv .mtop {

    margin-top: auto;
}

.leftdiv button {

    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin: auto;
    border-radius: 10px;
    border-color: transparent;
    width: 70%;
    box-shadow: 3px 2px 3px 3px rgb(153, 153, 153);
    text-shadow: 4px 4px black;

}

.leftdiv button span {
    font-size: 1.7rem;
    line-height: 2.2em;
    border-radius: .3rem;

}


.rightdiv {
    height: 100%;
    width: 50%;
}

.rightdiv img {
    height: 100%;

}

.dialogsdiv {
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: row;
    margin-top: 10%;
}

.dialog {
    height: 550px;
    width: 500px;
    background-color: rgb(245, 176, 49);
    margin: auto;
    display: flex;
    flex-direction: column;
}

.dialog img {
    width: 80px;
    height: 80px;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
}

@-webkit-keyframes rotating

/* Safari and Chrome */
    {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 5s linear infinite;
    -moz-animation: rotating 5s linear infinite;
    -ms-animation: rotating 5s linear infinite;
    -o-animation: rotating 5s linear infinite;
    animation: rotating 7s linear infinite;
}

.dialog .dialog-title {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dialog .dialog-information {
    margin-left: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 5vh;
    text-align: center;
    margin-right: auto;
    font-size: 1.2em;
    line-height: 1.2;
    word-spacing: 1px;
    color: white;

}

.imagediv {
    background-image: url('/images/goldhalf.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 6em;
    height: 35vh;
    display: flex;
    flex-direction: column;
}

.imagediv .aligned {
    margin-top: auto;
    margin-bottom: auto;
}

.imagediv h2,
p {
    text-align: center;
    color: white;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btndiv {
    display: flex;
    flex-direction: row;
}

.btndiv button {

    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin: auto;
    border-radius: 10px;
    border-color: transparent;
    width: 30%;
    box-shadow: 3px 2px 3px 3px rgb(153, 153, 153);
    text-shadow: 4px 4px black;

}

.btndiv button span {
    font-size: 1.7rem;
    line-height: 2.2em;
    border-radius: .3rem;

}

.lastsection {
    height: 200vh;
    background-image: url('/images/lastimagebelow.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
}

.whatyoulearn {
    width: 500px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    height: 150px;
    border-radius: 90px;
    margin-top: 12vh;
    margin-left: auto;
    margin-right: auto;
}

.whatyoulearn p {
    font-weight: bold;
    margin: auto;
}

.lines {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}

.linesed {
    margin-left: auto;
    margin-right: auto;
}

.circle {
    height: 30px;
    width: 30px;
    background-color: rgb(44, 44, 44);
    border-radius: 50%;
    float: left;
    margin: 0px;
    padding: 0px;
}

.line {
    height: 2px;
    width: 40px;
    background-color: rgb(0, 0, 0);
    float: left;
    margin: 14px 0px;
    padding: 0px;
}


.clear {
    clear: both;
}

.hexes {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.hex3 {
    width: 300px;
    height: 300px;
}

#color3 {
    background-color: rgb(241, 149, 0);
}

.hexagon-wrapper {
    text-align: center;
    margin: 20px;
    position: relative;
    margin-left: 60px;
    display: inline-block;

}

.hexagon {
    height: 100%;
    width: calc(100% * 0.57735);
    display: inline-block;

}

.hexagon:before {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(60deg);

}

.hexagon .info {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 999;
    margin-top: 50px;
    margin-right: 50px;
}

.hexagon h2 {

    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.hexagon p {

    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.2em;
}

.hexagon:after {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: '';
    transform: rotateZ(-60deg);

}

.black {
    color: black;
}

.inputdiv {
    background-color: white;
    height: 70vh;
    width: 150vh;
    border-radius: 70px;
    margin: auto;
    font-weight: 800;
}

.inputdiv .form-header {
    background-color: rgb(199, 144, 4);
    height: 10vh;
    display: flex;
    flex-direction: row;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
}

.inputdiv .form-header h2 {
    text-align: center;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;

}

.inputdiv .form-content {
    margin-top: 5vh;
}

.inputdiv form .inputclass {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 4vh;
    margin-top: 4vh;
    padding: 20px;
    border-radius: 20px;
    border-color: rgb(177, 175, 175);
    border: 1px solid;

    outline: none;
}

.inputdiv form .inputclass:active {
    border-radius: 20px;
}


.inputdiv form .form-half {
    display: flex;
    margin-left: 18%;
    margin-top: 2%;
}

.inputdiv form .form-half label {
    color: gray;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inputdiv form .form-half label a {
    color: rgb(72, 145, 212);
    text-decoration: none;
}


.inputdiv .form-bottom {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.inputdiv .form-bottom button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff;
    background-color: #0765c8;
    border-color: #023e80;
    margin: auto;
    margin-top: 5%;
    border-radius: 10px;
    border-color: transparent;
    width: 70%;
    box-shadow: 3px 2px 3px 3px rgb(153, 153, 153);
    text-shadow: 4px 4px black;
}

.inputdiv .form-bottom button span {
    font-size: 1.7rem;
    line-height: 2.2em;
    border-radius: .3rem;
}

/* Content Footer */
.inputdiv .content-footer {
    background-color: rgb(22, 22, 22);
    opacity: 0.9;
    height: 15vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
}

.content-footer span {
    color: white;
    opacity: 1 !important;
    margin: auto;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.upperdiv,
.belowdiv {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
}

.footerdiv {
    height: 20vh;
    width: 100%;
    background-color: rgb(61, 37, 0);
    display: flex;
    flex-direction: column;
}

.footerdiv p {
    font-size: 1em;
    text-align: center;
    margin: auto
}

.form-bottom button:hover,
.btn:hover {
    background-color: rgb(0, 150, 250);
    transition: 1s;

}


/* End for PC! */
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 250px) and (max-width: 600px) {

    .container .content-main .inputclass {

        width: 60%;
    }

    .container .content-main {
        margin: auto;
        width: 90%;
    }

    .container .content-main .form-header {
        font-size: 0.7em;
    }

    .container .content-footer {
        font-size: 0.7em;
    }

    .secondcontainer .payments {
        display: flex;
        flex-direction: row;
        margin-top: 1em;
    }

    .secondcontainer .payments img {

        height: 20px;
        width: 90px;
        margin: auto;
    }

    .dialogsdiv {
        display: flex;
        width: 80%;
        margin: auto;
        flex-direction: column;
        margin-top: 1em;

    }

    .dialog {
        width: 100%;
        height: 300px;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
    }

    .dialog img {
        margin-top: 20px;
        width: 50px;
        height: 50px;

    }


    .dialog .dialog-title {
        margin-top: 20px;
    }

    .dialog .dialog-information {
        margin-top: 20px;
    }

    .imagediv {
        margin-top: 16em;
    }

    .hexes {
        display: flex;
        flex-direction: column;

    }

    .inputdiv {
        margin-top: 5em;
        width: 95%;
        height: 68vh;
    }

    .footerdiv {
        margin-top: 2em;
    }

    .leftdiv {
        width: 100%;
        background-image: url("/images//happyperson.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        font-weight: 400;
        word-spacing: 0px;
        height: 90vh;
        background-position-x: -18em;
        background-position-y: 3.5em;

    }

    .leftdiv h2 {
        margin-top: 2em;
    }

    .mtop {
        margin-bottom: 50px;
    }

    .rightdiv {
        display: none;
    }

    .imagediv {
        margin-top: 30em;
    }

    .imagediv .aligned {
        font-size: 0.7em;
    }

    .btndiv button {
        width: 60%;
    }

    .tobedisplayedinphone {
        display: none;
    }

    .whatyoulearn {
        width: 300px;
        font-size: 0.7em;

    }



    .inputdiv {
        height: 75vh;
        width: 90%;
        flex-direction: column;
    }

    .inputdiv .form-header {
        padding: 10px;
    }

    .upperdiv,
    .belowdiv {
        flex-direction: column;
        width: 80%;
        margin: 0px;
    }

    .inputdiv .form-content {
        margin-left: auto;
        margin-right: auto;
    }

    .lastsection {
        height: 250vh;
    }

    .footerdiv {
        height: 30vh;
        margin-top: 10vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .lastsection {
        height: 250vh;
    }

    .dialogsdiv {
        display: flex;
        width: 80%;
        margin: auto;
        flex-direction: column;

    }

    .dialog {
        width: 100%;
        height: 300px;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
    }

    .dialog img {
        margin-top: 0px;
    }

    .dialog .dialog-title {
        margin-top: 0px;
    }

    .dialog .dialog-information {
        margin-top: 0px;
    }

    .imagediv {
        margin-top: 25em;
    }

    .hexes {
        display: flex;
        flex-direction: column;
    }

    .inputdiv {
        margin-top: 5em;
        width: 95%;
        height: 68vh;
    }

    .footerdiv {
        margin-top: 2em;
    }

    .secondcontainer .payments {
        width: 40%;
        margin: auto;
        margin-top: 1em;
    }


    .payments img {
        height: 40px;
        width: 40px;
    }

    .rightdiv {
        display: none;

    }

    .leftdiv {
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("/images//happyperson.png");
    }

    .whatyoulearn {
        font-size: 1em;
        width: 400px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1000px) {
    .lastsection {
        height: 250vh;
    }

    .dialog {
        width: 200px;
        height: 400px;

    }

    .dialog .dialog-title {
        font-size: 1.2em;
    }

    .dialog .dialog-information {
        font-size: 1em;
    }

    .inputdiv {
        width: 90%;
    }

    .secondcontainer .payments {
        margin-top: 1em;
    }

    .payments img {
        height: 50px;
        width: 50px;
    }

    .rightdiv {
        display: none;
    }

    .leftdiv {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("/images//happyperson.png");
        width: 100%;
    }

}

@media only screen and (min-width: 250px) and (max-width: 1170px) {
    .hexes {
        flex-direction: column;
    }

}

/* Extra large devices (large laptops and desktops, 1000px and up) */
@media only screen and (min-width: 1000px) and (max-width: 1349px) {
    .lastsection {
        height: 260vh;
    }

    .dialog {
        width: 250px;
        height: 450px;

    }

    .inputdiv {
        width: 90%;
    }
}

/* Extra large devices (larger laptops and desktops, 1350px and up) */
@media only screen and (min-width: 1350px) and (max-width: 1800px) {

    .dialog {
        width: 350px;

    }

    .inputdiv {
        width: 90%;
    }
}